body {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ovo', serif;
}

.main-content {
  margin-top: 50px;
}

p {
  margin: 20px 0;
}

#box {
  width: 100px;
  height: 100px;
  background: blue;
}
