extends ../layout.pug

block content
    h1 DevTools provides us with a powerful step through debugger.
    p We'll learn how to:
    ol.lessonList
        li Step through a JavaScript file
        li Add breakpoints
        li Blackbox scripts
        li Add conditional breakpoints
        li Add XHR breakpoints