extends ../layout.pug

block content
    h1 You can use Chrome DevTools as a full time IDE

    p It can do a bunch of amazing things, such as:

    ul.editing
        li Edit HTML and CSS
        li Scroll items into view
        li Hide and show elements
        li Trigger various states
        li Display computed styles
        li.domChanges.redBorder Break on DOM changes
        li Find event listeners
        li Change color formats
        li Drag and drop DOM nodes
        li#SomeId.SomeClass Visualize CSS specificity
        li Save changes to disk
        li Pretty print source code