extends ../layout.pug

block content
    h1 You can use Chrome DevTools as a full time IDE

    p It can do a bunch of amazing things, such as:

    ul.lessonList
        li Edit HTML and CSS
        li Save and reuse your color palette
        li Scroll items into view
        li Hide and show elements
        li Trigger various 
            a(href="#").states states
        li Display computed styles
        li Find event listeners
        li Change color formats
        li Drag and drop DOM nodes
        li#SomeId.SomeClass Visualize CSS specificity
        li Pretty print source code
        li.domChanges.redBorder Break on DOM changes
        li Save changes to disk
        li Use special symbols in the console