extends ./layout.pug

block content
  div.col-md-8.col-md-offset-2
    h1 Something is wrong here
    h1
      small Can you figure out what?
    h3 Enter a Github Username
    form#github.form-inline
      input#user.form-control(type='text', placeholder='Enter Github Username')
      input.btn.btn-default(type='submit')
    h3 And see a list of that user's repositories
    ul#repositories

    blockquote Note: If you are seeing a "Rate Limit Exceeded" error, you can try either removing the client_id and client_secret GET parameters from the AJAX call or head over to https://github.com/settings/developers, register your own app and use those client_id and client_secret!
