extends ./layout.pug

block content
  div#editing.col-md-8.col-md-offset-2
    h1 Let's edit this page!
    h3 You should set:
    ul.list
      li
        span.error The body's background to #EEE
      li
        span.error List items should have no bullet points
      li
        span.error h1's should have a font size of 50px
      li
        span.error Create a new div with the id of "box"
      li
        span.error Find the scroll listener!
      li
        span.error Convert body background to HSL
      li
        span.error Change container to 10 columns wide and 1 offset
      li
        span.error Make sure page looks good on mobile devices
      li
        span.error
          | Force this 
          a(href='#') link
          |  to show its hover state

    li Put me in the list!
