extends ./layout.pug

block content
    h1 Mastering Chrome DevTools

    p This site is designed as teaching aid for my "Mastering Chrome DevTools" workshops but I hope it will stand fine on its own.

    ol
        li
            a(href='/lessons/editing') Editing
        li
            a(href='/lessons/debugging') Debugging