extends ./layout.pug

block content
    h1 Mastering Chrome DevTools

    p This site is designed as a teaching aid for my "Mastering Chrome DevTools" workshops but I hope it will stand fine on its own.

    p Below are a few of the lessons we'll cover. If you want to check out the interactive exercises you can do so 
        a(href="/exercises") here

    ol
        li
            a(href='/lessons/editing') Editing
        li
            a(href='/lessons/debugging') Debugging
        li
            a(href='/lessons/profiling') Profiling
        li
            a(href='/lessons/memory-leaks') Memory Leaks

    p If you're looking for external resources, you can find them 
        a(href="/resources") here