doctype html
html(lang='en')
  head
    title Mastering Chrome Devtools
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel="icon", sizes="32x32", type="image/png", href="/img/favicon.png")
  body
    nav.nav
      .nav-inner
        a.logo(href='/') Mastering DevTools
        ul
          li
            a(href='/editing') Editing
          li
            a(href='/debugging') Debugging
          li
            a(href='/profiling') Profiling
          li
            a(href='/timing') Timing
          li
            a(href='/page-jank') Page Jank
          li
            a(href='/memory-leaks') Memory Leaks
    div.wrapper
      block content
    script(src='/js/jquery.js')
    script(src='/js/lodash.js')
    if scripts
      each script in scripts
        script(src='/js/' + script)
