doctype html
html(lang='en')
  head
    title Mastering Chrome Devtools
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel="icon", sizes="32x32", type="image/png", href="/img/favicon.png")
  body
    nav.nav
      .nav-inner
        a.logo(href='/') Mastering DevTools
        ul
          li
            a(href='/') Lessons
          li
            a(href='/exercises') Exercises
          li
            a(href='/resources') Resources
          li
            a(href='https://github.com/jkup/mastering-chrome-devtools') Source
    div.wrapper
      block content
    script(src='/js/jquery.js')
    script(src='/js/lodash.js')
    if scripts
      each script in scripts
        script(src='/js/' + script)
