extends ./layout.pug

block content
  div.menu-animation-wrapper

  div#index.col-md-10.col-md-offset-1
    h1 Page Jank
    h2 This page is Janky! Try Scrolling around.

    div.row
      div.col-md-6

        p Lorem ipsum dolor sit amet, eos ad debitis dignissim, ex vel dico illum periculis. Nec id illum posse commodo, nisl enim his et. Usu officiis vituperatoribus ne, salutandi maluisset consectetuer et usu. Ne civibus consetetur pri. Labore senserit urbanitas et per, vel paulo tritani ei.

        p Eu elit oratio nam. Iudico vulputate ad vix. Usu ne tollit ullamcorper, aliquam persecuti eum ei. Vidisse delicata evertitur te duo, duo ad regione habemus inciderint. Tibique invidunt in eos. Adhuc nobis eos ne.

        p Ad sit assum sententiae, nam ex oratio accusata. Pro te omnesque conclusionemque, eam purto vocent ut, nihil labitur fuisset cu ius. Mea in mutat nusquam, vix ullamcorper philosophia in, scriptorem complectitur cu vim. Utinam libris inimicus eu vel, pro id docendi tacimates gloriatur. Et est zril option sententiae.

        p Nec porro mundi antiopam ne, ad dictas atomorum eam. Magna nostro impetus cum at. Virtute euismod volutpat his ut, no vim esse delectus fabellas, suas nonumes cu his. Inani quodsi forensibus mel cu, quo brute dissentiunt id.

        p No aeque gloriatur usu. Ridens persius reprimique his te. Vide nobis aperiam usu eu, mei aeque minimum consectetuer no. Duis causae copiosae an nec, ius habeo percipit platonem ne. Ea augue laudem tacimates sit, mel id dicat persequeris. Soleat qualisque mei an, te possit constituto voluptatibus pri, quidam iisque theophrastus vis id. Brute debitis contentiones ex mea.

        p Vis dicunt voluptatum te, sapientem intellegebat ei est. Est ea ridens fabellas argumentum, diam scripserit in usu, elitr tamquam reformidans id ius. Ornatus accusamus vix ad, modo scaevola eu sit. Id vis meliore dolores, ut mei movet graece liberavisse, vocent accumsan accusata mel ne. Te cum numquam graecis, nam te vide nostrum. Per et vide volutpat.

        p Scribentur complectitur usu no, cu sed esse melius contentiones. Tempor tamquam vis eu, vix probo essent vulputate ne, harum invidunt an nec. Quo cu dicta labitur, sea mutat admodum id. Pro invenire efficiantur theophrastus in, ne case summo aperiam mel, ad eos quem reprehendunt. At admodum accusata sed.

        p Gubergren scripserit at qui, in vim posse disputando, animal verterem elaboraret duo ea. No vix alia everti, ea eam ridens similique deterruisset, dolorum praesent usu in. Et sea latine apeirian, no utroque consetetur eos, et iisque accusamus vel. Eu eum malorum invenire inimicus. Ex mundi forensibus sed, cu probo discere vis, per dicit diceret singulis ex. At mea ipsum tollit nominavi, ea nam saepe incorrupte disputando, ad suas atqui imperdiet ius.

        p Erant vocibus ex pri, sea ad equidem tibique cotidieque. Has ad facilis torquatos. Ad dico nonumes facilis usu. Accumsan detracto vivendum pri ex, nonumes tincidunt cotidieque eam ut.

        p Pri ut aeque affert prodesset. Graeci tibique ea est. Quod facilis corrumpit has ne, mollis deleniti qui ad, ius nonumy tacimates quaerendum ut. Usu ne dicit legendos. Per cu recteque dignissim consetetur, recteque accommodare sit ex, pro nominavi persequeris ne.

      div.col-md-6
        span.carbon-ad-container
          a.carbon-img(href='//srv.carbonads.net/ads/click/x/GTND423NCE7DCK3LCY74YKQWCYBD623YFTYDEZ3JCESDVK7LFTSI52QKC6BDK23LCKYIKK3EHJNCLSIZZRLCP7I35MNFV?segment=placement:carbonads;&encredirect=https%3A%2F%2Fslack.com%2Fis%3Fcvosrc%3Ddisplay.carbon.title%20dev%26utm_source%3Dcarbon%26utm_medium%3Ddisplay%26utm_campaign%3Dtitle%20dev', target='_blank')
            img(src='https://assets.servedby-buysellads.com/p/manage/asset/id/24209', alt='', border='0', height='100', width='130', style='max-width:130px;')
          a.carbon-text(href='//srv.carbonads.net/ads/click/x/GTND423NCE7DCK3LCY74YKQWCYBD623YFTYDEZ3JCESDVK7LFTSI52QKC6BDK23LCKYIKK3EHJNCLSIZZRLCP7I35MNFV?segment=placement:carbonads;&encredirect=https%3A%2F%2Fslack.com%2Fis%3Fcvosrc%3Ddisplay.carbon.title%20dev%26utm_source%3Dcarbon%26utm_medium%3Ddisplay%26utm_campaign%3Dtitle%20dev', target='_blank') Slack - a messaging app for teams, integrating with the tools you already use.
