extends ./layout.pug

block content
  div#index.col-md-8.col-md-offset-2
    h1 Page Jank
    p
      | This site is designed as teaching aid for Jon Kuperman's "Mastering Chrome DevTools" workshops but I hope it will stand fine on its own.
    p The workshop is divided into three sections:
    ul
      li Editing - Changing styles and markup and persisting changes to disk
      li Debugging - Using the step-through debugger
      li Profiling - JavaScript performance, page jank and finding / fixing memory leaks
