extends ./layout.pug

block content
  #profiling.col-md-8.col-md-offset-2
    h1 This page needs an audit!
    ul
      li Run a page audit
      li Do a Performance analysis
      li Make a list of performance wins

    img(src='/img/chrome2.png', width='250', height='250')
    img(src='/img/chrome3.jpg', width='250', height='250')
    img(src='/img/chrome4.jpg', width='250', height='250')
    p
      | Cras sed nunc arcu. Curabitur eu ipsum sed nisl faucibus vestibulum. Fusce auctor enim quis ipsum suscipit, sit amet maximus urna semper. Curabitur eget mauris vel lacus dignissim vehicula. Proin et ullamcorper tortor. Duis porta, mauris a elementum gravida, nulla nibh placerat lacus, varius mollis dui diam ut augue. Duis maximus tortor vel erat elementum, et ornare est vehicula. Nulla lacus enim, mattis vitae blandit et, hendrerit faucibus risus. Duis nunc sapien, fringilla at imperdiet at, porttitor non sem. Sed diam metus, egestas non nulla quis, posuere venenatis purus. Suspendisse eu urna a metus lobortis aliquam. Curabitur eu nulla magna.
    .text-center
      iframe(src='https://www.youtube.com/embed/BaneWEqNcpE', frameborder='0', allowfullscreen='')
      iframe(src='https://www.youtube.com/embed/Z3HGJsNLQ1E', frameborder='0', allowfullscreen='')
      iframe(src='https://www.youtube.com/embed/XpGa6IzmmQg', frameborder='0', allowfullscreen='')
      iframe(src='https://www.youtube.com/embed/kUKjlhSu4Rw', frameborder='0', allowfullscreen='')
      iframe(src='https://www.youtube.com/embed/0xx_dkv9DEY', frameborder='0', allowfullscreen='')

      div#nodes
