extends ./layout.pug

block content
    h1 External Resources
    ul
        li Official Documentation (
            a(href="https://developers.google.com/web/tools/chrome-devtools/") link
            | )
        li This Repository (
            a(href="https://github.com/jkup/mastering-chrome-devtools") link
            | )
        li Mastering Chrome DevTools Slides (
            a(href="https://slides.com/jkup/devtools/") link
            | )
        li Jank Free (
            a(href="http://jankfree.org/") link
            | )
    h2 Accounts to follow
    ul
        li 
            a(href="https://twitter.com/jkup") @jkup
        li 
            a(href="https://twitter.com/ChromeDevTools") @ChromeDevTools
        li 
            a(href="https://twitter.com/paul_irish") @paul_irish
        li 
            a(href="https://twitter.com/addyosmani") @addyosmani
        li 
            a(href="https://twitter.com/umaar") @umaar
