extends ./layout.pug

block content
  div.col-md-8.col-md-offset-2
    h1 Let's time some functions!
    ol
      li Start recording a JavaScript CPU Profile
      li Refresh the page
      li Find the timing.js file
      li Find which function takes the longest!

    ul#timing.list-group
