html {
  height: 100%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.5px;
  min-height: 100%;
}

a {
  color: #4e87ed;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.nav {
  background: #4e87ed;
  margin-bottom: 100px;
}

.nav-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
}

.nav ul {
  list-style: none;
}

.nav li {
  float: left;
}

.nav a {
  color: #ffffff;
  margin-right: 15px;
  text-decoration: none;
}

.nav a:hover {
  color: #eeeeee;
}

.nav .logo {
  font-weight: bold;
  font-size: 22px;
}

/* Editing */
.lessonList li {
  color: #333;
  font-size: 25px;
  margin-bottom: 500px;
}

.SomeClass {
  color: red;
}

#SomeId {
  color: purple;
}

.redBorder {
  border: 2px dotted red;
  display: inline-block;
  padding: 10px;
}

.blueBorder {
  border: 2px dotted blue;
  display: inline-block;
  padding: 10px;
}

.editingLink:hover {
  color: pink;
}

.states {
  color: red;
}

.states:hover {
  color: darkorange;
}

.states:active {
  color: blue;
}

.states:visited {
  color: green;
}

/* Debugging */

#fetcher {
  background-color: #007bff;
  border-color: #0062cc;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  padding: 6px 12px;
}

#fetcher:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.debug-card {
  list-style: none;
}

.debug-title {
  display: inline-block;
}

/* Memory Leaks */
#nodes {
  visibility: hidden;
}

/* Page Jank */
.jank-logo {
  position: absolute;
  height: 3vw;
  z-index: 0;
}

.add,
.remove {
  position: relative;
  z-index: 9999;
}

/* Profiling */

.box {
  width: 200px;
  height: 200px;
  background: green;
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  float: left;
  margin: 25px;
  line-height: 200px;
}
