body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: #5498ef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.nav {
  background: #333333;
}

.nav-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
}

.nav ul {
  list-style: none;
}

.nav li {
  float: left;
}

.nav a {
  color: #ffffff;
  margin-right: 15px;
  text-decoration: none;
}

.nav .logo {
  font-weight: bold;
  font-size: 22px;
}

/* Debugging */

#fetcher {
  background-color: #007bff;
  border-color: #0062cc;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  padding: 6px 12px;
}

#fetcher:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.debug-card {
  list-style: none;
}

.debug-title {
  display: inline-block;
}

/* Memory Leaks */
#nodes {
  visibility: hidden;
}

/* Page Jank */
#position {
  background: #fff;
  border: 3px solid #333;
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 50px;
  z-index: 9999;
}

.box {
  width: 250px;
  height: 250px;
  background: green;
  color: black;
  margin: 15px;
  float: left;
  font-size: 100px;
  text-align: center;
}
