extends ../layout.pug

block content
  div.col-md-8.col-md-offset-2
    h1 Something is wrong here
    h2
      small Can you figure out what?
    p Clicking on this button should load in a bunch of cute star wars images... but it's not working!
    button#fetcher Fetch Star Wars
    div#root