extends ../layout.pug

block content
  h1 Let's edit this page!
  h3 You should set:
  ul#list
    li
      span.error The body's background to #EEE
    li
      span.error List items should have no bullet points
    li
      span.error h1's should have a font size of 50px
    li
      span.error Find the scroll listener!
    li
      span.error Convert body background to HSL
    li
      span.error
        | Figure out what color this 
        a.editingLink(href='#') link
        |   becomes when hovered (without using your mouse!)

  li Put me in the list!
