extends ../layout.pug

block content
  h1 Mark and Measure
  a(href='https://developer.mozilla.org/en-US/docs/Web/API/Performance') Official Docs
  |   for the Performance API.

  p If you open public/js/mark-and-measure.js you'll see a call to an API. First use getTime to see how long it takes to complete. Then use mark and measure!