extends ../layout.pug

block content
  div
    h1 Page Jank
    h2 This page is Janky! What can we do to make it smooth?
    button.add Add 50
    button.remove Remove 50
  div#root.
    <img class="jank-logo" src="/img/logo.svg"/>
