extends ./layout.pug

block content
    h1 Exercises
    ul
        li
            a(href="/exercise/Editing") Exercise 1 - Quick Edits
        li
            a(href="/exercise/Workspaces") Exercise 2 - Workspaces
        li
            a(href="/exercise/Debugging") Exercise 3 - Debugging
        li
            a(href="/exercise/Thrashing") Exercise 4 - Layout Thrashing