extends ./layout.pug

block content
    h1 Lessons
    ul
        li
            a(href="/lesson/1") Introduction & History
        li
            a(href="/lesson/2") What can Chrome DevTools do?
        li
            a(href="/lesson/3") Editing websites
        li
            a(href="/lesson/4") Step through debugging
        li
            a(href="/lesson/5") Network Performance
        li
            a(href="/lesson/6") CPU & Memory
        li
            a(href="/lesson/7") Audits