extends ./layout.pug

block content
    h1 Lessons
    ul
        li
            a(href="/lesson/Introduction") Introduction & History
        li
            a(href="/lesson/About") What can Chrome DevTools do?
        li
            a(href="/lesson/Editing") Editing websites
        li
            a(href="/lesson/Debugging") Step through debugging
        li
            a(href="/lesson/Network") Network Performance
        li
            a(href="/lesson/CPU") On Page Performance (CPU)
        li
            a(href="/lesson/Memory") Memory Leaks
        li
            a(href="/lesson/Audit") Audits
        li
            a(href="/lesson/Experiment") Experiments
        li
            a(href="/lesson/Conclusion") Where to go from here?