body {
  background-color: #e8eaed;
  color: #000;
  font-family: "Cabin", sans-serif;
  font-size: 18.5px !important;
  line-height: 1.5;
  text-rendering: optimizelegibility;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  border-bottom: 4px solid #ce5b4c;
  cursor: pointer;
}

img {
  max-width: 100%;
}

nav {
  background-color: #1a73e8;
  border-bottom: 2px solid #0d314a;
  color: #fff;
  height: 72px;
  line-height: 72px;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 25px 0 10px;
}

nav a {
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  line-height: 70px;
}

nav a:hover {
  color: #fff;
  border-bottom: 5px solid #fff;
}

.note {
  background: #eee;
  border-left: 3px solid #f8ce5e;
  margin: 25px 0;
  padding: 24px 32px;
}

#main,
#footer {
  background: #fff;
  border-top: 2px solid #cf5d4e;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 30px;
  max-width: 1200px;
  margin: 50px auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  background: rgba(165, 165, 165, 0.15);
  border-left: 10px solid#dcdcdc;
  border-left: 10px solid rgb(192.5, 192.5, 192.5);
  margin: 1.618em 0.618rem; /* Comment-A */
  padding: 0.618em 0.618rem;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote::before {
  color: #c1c1c1;
  color: rgb(192.5, 192.5, 192.5);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 8px;
  line-height: 1.5rem;
}
h1 {
  font-size: 40px;
  line-height: 48px;
}
h2 {
  font-size: 32px;
  line-height: 38.4px;
}
h3 {
  font-size: 28px;
  line-height: 33.6px;
}
h4 {
  font-size: 24px;
  line-height: 28.8px;
}
h5 {
  font-size: 20px;
  line-height: 24px;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
