extends ../layout.pug

block content
  div.col-md-8.col-md-offset-2
    h1 Closures
    div.list-group
      a(href="/memory-leaks/accidental-globals").list-group-item Accidental Globals
      a(href="/memory-leaks/callbacks-and-timers").list-group-item Callbacks and Timers
      a(href="/memory-leaks/forgotten-dom").list-group-item Forgotten DOM
      a(href="/memory-leaks/closures").list-group-item Closures
