extends ../layout.pug

block content
  div.col-md-8.col-md-offset-2
    h1 Common causes of memory leaks
    ul#myTabs.nav.nav-tabs
      li(role="presentation").active
        a(href="#globals", aria-controls="globals", role="tab", data-toggle="tab").list-group-item Accidental Globals
      li(role="presentation")
        a(href="#timers").list-group-item Callbacks and Timers
      li(role="presentation")
        a(href="#forgotten").list-group-item Forgotten DOM

    div.tab-content
      div#globals.tab-pane.active(role='tabpanel')
        h3 If you accidently create a global variable
        p Outside of strict mode, code like this:
        pre
          code
            | function foo() {
            |   bar = "Hello World!";
            | }
        p Actually generates
        pre
          code
            | function foo() {
            |   window.bar = "Hello World!";
            | }
        p And since window will never be garbage collected, anything bound to it stays until manually deleted.
      div#timers.tab-pane(role='tabpanel')
        h3 If you forget to cancel your Intervals and Callbacks
        p For example:
        pre
          code
            | var bigData = getData();
            | setInterval(function() {
            |   node.innerHTML = JSON.stringify(bigData));
            | }, 1000);
        p Since that Interval will continue to run. All the memory consumed for "bigData" will leak.

      div#forgotten.tab-pane(role='tabpanel')
        h3 Lots of times we keep references to DOM elements in memory
        p If you remove the element from the DOM, remember to remove it from memory too!
        pre
          code
            | var button = document.getElementById('button');
            | // Then later..
            | function removeButton() {
            |   document.body.removeChild(document.getElementById('button'));
            | }

    h2 There are some memory leaks on this page. Can you find them?
    ol
      li Start with a Performance recording. Can you identify that there *is* a leak?
      li Next collect a heap snapshot.
      li Now click the "Do some work" button
      li Collect another snapshot
      li Compare them, can you see what's going on?

    button.btn.btn-lg.btn-primary Do some work

    div#nodes
